<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
      <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
      <script src="javascripts/send"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <span id="urlShortened" style="background-color:yellow"><%= urlShortened %></span>
  </body>
</html>
